<div class="row header">
  <div class="large-12 columns">
    <h1>Blackjack</h1>
  </div>
</div>

<!-- card table and cards -->
<div class="row cardTable">
  <div class="large-12 columns">
  </div>
</div>

<div class="cards">
  <div class="dealer_card_group">
    <!-- dealer cards -->
    <div class="dealer_cards"></div>
    <div class="dealer_cards"></div>
    <div class="dealer_cards"></div>

  </div>

  <div class="player_card_group">
    <!-- player cards -->
    <div class="player_cards"></div>
    <div class="player_cards"></div>
    <div class="player_cards"></div>
    <div class="player_cards"></div>
  </div>
</div>

<!-- Game related actions and info -->
<div class="row">
  <div class="columns large-4">
    <div class="stats">
      <h3>Game Stats</h3>
    </div>
  </div>
  <div class="columns large-4"></div>
  <div class="columns large-4">
        <a href="#" class="button">Deal</a>
        <a href="#" class="button">Hit</a>
        <a href="#" class="button">Stand</a>
  </div>
</div>