h1, h3 {
  text-align: center;
}

.cardTable {
  background-color:rgba(11, 133, 22, 0.5);
  background-image: -webkit-radial-gradient(50% 27%, ellipse farthest-side, rgba(11, 133, 22, 0.5), #076335 91%);
  background-image: radial-gradient(50% 27%, ellipse farthest-side, rgba(11, 133, 22, 0.5), #076335 91%);
  height: 450px;
  width: 95%;
  border-radius: 10px 10px 450px 450px;
}

.button {
  background-color: #076335;
  border-radius: 10px;
  margin: .4em auto;
  display: block;
  width: 80%;
}

.stats {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.action {
  margin: .1em;
}