h1, h3 {
  text-align: center;
  font-weight: 500;
  color: white;

}

a {
  text-decoration: none;
  color: white;
}

/* Card table container for dealer and player cards */
.cardTable {
  background-image: url('felt.png');
  background-size: cover;
  height: 450px;
  width: 95%;
  border-radius: 10px 10px 450px 450px;
  border-bottom: 10px solid #076400;
}

.cards {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.dealer_card_group,
.player_card_group,
#status {
  margin: 0 auto;
  position: relative;
  width: auto;
  text-align: center;

  font-size: 3em;
  color: white;
}

#status {
  line-height: 3em;
}

#dealer .cards {
  position: relative;
  width: 60px;
  height: 84px;
  border: 1px solid lime;
  background-position: center;
  background-size: 280px 280px;
  display: inline-block;
  margin: .5em;
}

#player .cards {
  position: relative;
  width: 60px;
  height: 84px;
  border: 1px solid lime;
  background-position: center;
  background-size: 280px 280px;
  display: inline-block;
  margin: .5em;
}

.test {
  height: 10em;
  background-image: url('Clubs/10C.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


/* Game actions and information */
.button {
  background-color: #076335;
  background-image: -webkit-radial-gradient(50% 27%, ellipse farthest-side, rgba(11, 133, 22, 0.5), #076335 91%);
  background-image: radial-gradient(50% 27%, ellipse farthest-side, rgba(11, 133, 22, 0.5), #076335 91%);
  border-radius: 10px;
  margin: .4em auto;
  display: block;
  width: 80%;
}

.stats {
  margin: 1em;
  border: 1px solid #879587;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.action {
  margin: .1em;
}